- provide(:title, 'Home')
.center.hero-unit
  %h1 Warehouse
  %p Eine Application fuer das Verwalten von Inventar und dessen Verteilung auf die Mitarbeiter
- unless signed_in?
  = link_to 'Neuen Account erstellen', signup_path
